.flink#article-container .flink-list>.flink-list-item a .flink-item-name,
.flink#article-container .flink-list>.flink-list-item a .flink-item-desc {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flink#article-container .flink-list {
    overflow: auto;
    padding: 10px 10px 0;
    text-align: center;
}

.flink#article-container .flink-list>.flink-list-item {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 15px 7px;
    width: calc(100% / 3 - 15px);
    height: 90px;
    border-radius: 8px;
    line-height: 17px;
    -webkit-transform: translateZ(0);
}

@media screen and (max-width: 1024px) {
    .flink#article-container .flink-list>.flink-list-item {
        width: calc(50% - 15px) !important;
    }
}

@media screen and (max-width: 600px) {
    .flink#article-container .flink-list>.flink-list-item {
        width: calc(100% - 15px) !important;
    }
}

.flink#article-container .flink-list>.flink-list-item:hover img {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.flink#article-container .flink-list>.flink-list-item:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #49b1f5;
    content: '';
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.flink#article-container .flink-list>.flink-list-item:hover:before,
.flink#article-container .flink-list>.flink-list-item:focus:before,
.flink#article-container .flink-list>.flink-list-item:active:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.flink#article-container .flink-list>.flink-list-item a {
    color: #ff400083;
    text-decoration: none;
}


.flink#article-container .flink-list>.flink-list-item a img {
    float: left;
    margin: 15px 10px;
    width: 60px;
    height: 60px;
    border-radius: 35px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.flink#article-container .flink-list>.flink-list-item a .img-alt {
    display: none;
}

.flink#article-container .flink-list>.flink-list-item a .flink-item-name {
    display: block;
    padding: 16px 10px 0 0;
    height: 40px;
    font-weight: bold;
    font-size: 1.43em;
}

.flink#article-container .flink-list>.flink-list-item a .flink-item-desc {
    display: block;
    height: 50px;
    font-size: 0.93em;
}