doctype
html(lang="zh-CN")
  head
    include head

  body
    include sidebar
    .main.animated.fadeInDown
      include nav

      block content


    if theme.darkmodep == true
      script(src=url_for('/assets/js/main.js'))
    else 
      if theme.darkmodep == false
        script
          //123

    a(onclick="phgd()")
      .gototop
          