.page-top.animated.fadeInDown
  .nav
    //- for循环
    for page in theme.page
          li
            a(href=page.link)= page.name			

  .information
    .back_btn
      //- 返回上一页
      li
        if is_post()
          a.fa.fa-chevron-left(onclick="window.history.go(-1)") 
        else
          a.fa.fa-chevron-left(onclick="window.history.go(-1)",style="display:none;")
    
    .back_btn
      li
          a.fa.fa-moon-o#darkpower(onclick="dark_mode()")
    .avatar
      img(src=theme.avatar)
